.App {
  font-family: sans-serif;
  text-align: center;
}
button:hover {
  background: yellow;
}
body {
  background-color: rgb(212, 230, 185);
}
.book-name {
  font-size: x-large;
}
.book-rating {
  font-weight: bold;
}
.book-desc {
  color: rgb(73, 72, 72);
}
